.fresh {
  font-family: Angel Wish;
}
body {
  background-color: #d4d4d4;
}

.test {
  display: flex;
  justify-content: space-around;
}

.about {
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  font-family: evanescent;
  font-size: x-large;
}

.reviews {
  font-family: Fiendish;
  color: maroon;
}

.reviewtext1 {
  font-family: angel wish;
  color: maroon;
}

.reviewpara1 {
  font-family: "Times New Roman", Times, serif;
}

.reviewtext2 {
  font-family: angel wish;
  color: maroon;
}

.reviewpara2 {
  font-family: "Times New Roman", Times, serif;
}

.reviewtext3 {
  font-family: angel wish;
  color: maroon;
}

.reviewpara3 {
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 600px) {
  nav {
    min-height: 8vh;
    position: relative;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .fresh {
    font-size: large;
    text-align: center;
    font-family: Angel wish;
  }

  .prof1 {
    width: 50%;
  }

  .prof2 {
    width: 50%;
  }

  .prof3 {
    width: 50%;
  }
}
